:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --background-col-2: #f5f4fa;
  --background-col-3: #2f303a;
  --background-col-4: #2196f3;
  --background-col-wt: #ffffff;
  --accent-1: #ffffff;
  --accent-2: #2196f3;
  --accent-3: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: #ffffff;
  color: #757575;
}
/* титульная */
.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 2.25em;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

/* обнуление */
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* navigation */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 1.625em;
  line-height: 1.29;
  margin-right: 94px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo-blue {
  color: var(--accent-2);
}
.logo-black {
  color: var(--accent-3);
}
.logo-white {
  color: var(--accent-1);
}
.navigation-list {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-left: auto;
}
.navigation-list > li:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}
.contact-link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}
.navigation {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.navigation-points {
  display: flex;
}
.color {
  color: var(--accent-2);
}
.navigation-link:hover,
.navigation-link:focus,
.contact-link:hover,
.contact-link:focus,
.street:hover,
.street:focus,
.contacts:hover,
.contacts:focus {
  color: var(--accent-2);
}
/* big-board */
.board {
  background-color: var(--background-col-3);
  text-align: center;
  padding-top: 12.5em;
  padding-bottom: 12.5em;
}
.board-title {
  color: var(--accent-1);
  margin-top: 0;
  margin-bottom: 0.68em;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 2.75em;
  line-height: 1.26em;
}
.board-button {
  font-size: 1em;
  line-height: 1.53em;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.board-button.btn-design {
  background-color: var(--accent-2);
  color: var(--accent-1);
  min-width: 200px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  font-weight: 700;
}
.board-button.btn-design:hover,
.board-button.btn-design:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* structure */
.structure {
  padding-top: 5.875em;
}
.heading {
  display: none;
}
.positions {
  display: flex;
}
.positions .position-list {
  width: calc((100%-90px) / 4);
}
.positions .position-list:not(:last-child) {
  margin-right: 30px;
}
.heading-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 0.75em;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.descpiption {
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* our works */
.our-functions {
  padding-top: 5.875em;
  padding-bottom: 5.875em;
}
.functions-title {
  margin-bottom: 1.39em;
}
.functions-list {
  display: flex;
}
.functions-list > li:not(:last-child) {
  margin-right: 30px;
}
/* team */
.team {
  background-color: var(--background-col-2);
  padding-top: 5.875em;
  padding-bottom: 5.875em;
  padding-top: 5.875em;
}
.team-title {
  margin-bottom: 1.39em;
}
.team-directory {
  display: flex;
}
.team-directory li:not(:last-child) {
  margin-right: 30px;
}
.team-repository {
  display: block;
  background-color: var(--background-col-2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-dscr {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-stand {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
/* contacts-footer */
.adress-stilization {
  padding: 3.75em 0;
  background-color: var(--background-col-3);
}
.adress-information {
  padding: 0;
  margin-bottom: 0;
  margin-top: 1.42em;
  font-weight: 400;
  font-size: 0.875em;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adr-list {
  margin: 0.642em 0;
}
.adr-list:first-child,
.adr-list:last-child {
  margin: 0;
}
.street {
  color: var(--accent-1);
}
.contacts {
  color: var(--footer-contacts);
}

/* Portfolio */
.hero {
  align-items: center;
  padding-top: 5.875em;
  padding-bottom: 5.875em;
}
/* buttons */
.board-button.btn-style {
  background-color: var(--background-col-2);
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  font-weight: 500;
  padding: 6px 22px;
}
.board-button.btn-style:focus,
.board-button.btn-style:hover {
  background-color: var(--background-col-4);
  color: var(--accent-1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* foundation */

.filter-list {
  display: flex;
  margin-bottom: 3.125em;
  justify-content: center;
}
.btn-filt:not(:last-child) {
  margin-right: 8px;
}
.works {
  display: flex;
  flex-wrap: wrap;
}
.projects-list {
  width: 370px;
  display: inline-block;
  background-color: var(--background-col-wt);
  border: 1px solid #eeeeee;
}
.projects-list:not(:nth-child(3n)) {
  margin-right: 30px;
}
.projects-list:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.link .projects-description {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 1.37em;
  padding-right: 1.37em;
}
.link .name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1.4;
  letter-spacing: 0.06em;
  margin-bottom: 0.22em;
}
.link .sample {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 1em;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
